<html>
    <head>
        <meta charset="utf-8">
        {% if cdn_resources=="local" %}
            <script src="lib/bindings/utils.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.1.2/dist/dist/vis-network.min.css" integrity="sha512-WgxfT5LWjfszlPHXRmBWHkV2eceiWTOBvrKCNbdgDYTHrT2AeLCGbF4sZlZw3UMN3WtL0tGUoIAKsu8mllg/XA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.1.2/dist/vis-network.min.js" integrity="sha512-LnvoEWDFrqGHlHmDD2101OrLcbsfkrzoSpvtSQtxK3RMnRV0eOkhhBN2dXHKRrUU8p2DGRTk35n4O8nWSVe1mQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            {% if select_menu or filter_menu %}
                <link href="lib/tom-select/tom-select.css" rel="stylesheet">
                <script src="lib/tom-select/tom-select.complete.min.js"></script>
            {%  endif %}
        {% elif cdn_resources=="in_line" %}
            <script>{%  include 'lib/bindings/utils.js' %}</script>
            <style>{%  include 'lib/vis-9.1.2/vis-network.css' %}</style>
            <script>{%  include 'lib/vis-9.1.2/vis-network.min.js' %}</script>
            {% if select_menu or filter_menu %}
                <style>{%  include 'lib/tom-select/tom-select.css' %}</style>
                <script>{%  include 'lib/tom-select/tom-select.complete.min.js' %}</script>
            {%  endif %}
        {%  elif cdn_resources=="remote" %}
            <script>{%  include 'lib/bindings/utils.js' %}</script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.1.2/dist/dist/vis-network.min.css" integrity="sha512-WgxfT5LWjfszlPHXRmBWHkV2eceiWTOBvrKCNbdgDYTHrT2AeLCGbF4sZlZw3UMN3WtL0tGUoIAKsu8mllg/XA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.1.2/dist/vis-network.min.js" integrity="sha512-LnvoEWDFrqGHlHmDD2101OrLcbsfkrzoSpvtSQtxK3RMnRV0eOkhhBN2dXHKRrUU8p2DGRTk35n4O8nWSVe1mQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            {#            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.0.4/dist/dist/vis-network.min.css" integrity="sha512-+5tJeVsSE2tSnmKB5SWOD0GsYA5dOP0B/FSv7I2GYhdOcyjJq81Q1St3qgJgInwreAdNuw0KGJ0FOaxOJ0E4yw==" crossorigin="anonymous" referrerpolicy="no-referrer" />#}
            {#            <script src="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.0.4/dist/vis-network.js"#}
            {#                integrity="sha512-CEbUhbSq35hCqBH8ckfAkH1Tcua5NEywtEzwiJ+BUC4EIZkC7vyta3ivZu/WqJhK1qHTurO3hwHsErU3HHjwIA=="#}
            {#                crossorigin="anonymous"#}
            {#                referrerpolicy="no-referrer"></script>#}
            {% if select_menu or filter_menu %}
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tom-select/2.0.0-rc.4/css/tom-select.min.css" integrity="sha512-43fHB3GLgZfz8QXl1RPQ8O66oIgv3po9cJ5erMt1c4QISq9dYb195T3vr5ImnJPXuVroKcGBPXBFKETW8jrPNQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
                <script src="https://cdnjs.cloudflare.com/ajax/libs/tom-select/2.0.0-rc.4/js/tom-select.complete.js" integrity="sha512-jeF9CfnvzDiw9G9xiksVjxR2lib44Gnovvkv+3CgCG6NXCD4gqlA5nDAVW5WjpA+i+/zKsUWV5xNEbW1X/HH0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            {%  endif %}

        {% endif %}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
            crossorigin="anonymous"></script>
        
        <script type="text/javascript" src="lib/jquery.json-editor.min.js"></script>
<center>
<h1>{{heading}}</h1>
</center>

<!-- <link rel="stylesheet" href="../node_modules/vis/dist/vis.min.css" type="text/css" />
<script type="text/javascript" src="../node_modules/vis/dist/vis.js"> </script>-->
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
          crossorigin="anonymous"
        />
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
          crossorigin="anonymous"
        ></script>


        <center>
          <h1>{{heading}}</h1>
        </center>
        <style type="text/css">

             #mynetwork {
                 width: {{width}};
                 height: {{height}};
                 background-color: {{bgcolor}};
                 border: 1px solid lightgray;
                 position: relative;
                 float: left;
             }

             {% if nodes|length > 100 and physics_enabled %}
             #loadingBar {
                 position:absolute;
                 top:0px;
                 left:0px;
                 width: {{width}};
                 height: {{height}};
                 background-color:rgba(200,200,200,0.8);
                 -webkit-transition: all 0.5s ease;
                 -moz-transition: all 0.5s ease;
                 -ms-transition: all 0.5s ease;
                 -o-transition: all 0.5s ease;
                 transition: all 0.5s ease;
                 opacity:1;
             }

             #bar {
                 position:absolute;
                 top:0px;
                 left:0px;
                 width:20px;
                 height:20px;
                 margin:auto auto auto auto;
                 border-radius:11px;
                 border:2px solid rgba(30,30,30,0.05);
                 background: rgb(0, 173, 246); /* Old browsers */
                 box-shadow: 2px 0px 4px rgba(0,0,0,0.4);
             }

             #border {
                 position:absolute;
                 top:10px;
                 left:10px;
                 width:500px;
                 height:23px;
                 margin:auto auto auto auto;
                 box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
                 border-radius:10px;
             }

             #text {
                 position:absolute;
                 top:8px;
                 left:530px;
                 width:30px;
                 height:50px;
                 margin:auto auto auto auto;
                 font-size:22px;
                 color: #000000;
             }

             div.outerBorder {
                 position:relative;
                 top:400px;
                 width:600px;
                 height:44px;
                 margin:auto auto auto auto;
                 border:8px solid rgba(0,0,0,0.1);
                 background: rgb(252,252,252); /* Old browsers */
                 background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
                 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
                 background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
                 background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
                 background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
                 background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
                 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
                 border-radius:72px;
                 box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
             }
             {% endif %}

             {% if conf %}
             #config {
                 float: left;
                 width: 400px;
                 height: 600px;
             }
             {% endif %}

             {% if tooltip_link %}
             /* position absolute is important and the container has to be relative or absolute as well. */
          div.popup {
                 position:absolute;
                 top:0px;
                 left:0px;
                 display:none;
                 background-color:#f5f4ed;
                 -moz-border-radius: 3px;
                 -webkit-border-radius: 3px;
                 border-radius: 3px;
                 border: 1px solid #808074;
                 box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
          }

          /* hide the original tooltip */
          .vis-tooltip {
            display:none;
          }
             {% endif %}
        </style>
    </head>


    <body>
        <div class="card" style="width: 100%">
            {% if select_menu %}
                <div id="select-menu" class="card-header">
                    <div class="row no-gutters">
                        <div class="col-10 pb-2">
                            <select
                            class="form-select"
                            aria-label="Default select example"
                            onchange="selectNode([value]);"
                            id="select-node"
                            placeholder="Select node..."
                            >
                                <option selected>Select a Node by ID</option>
                                {% for node in nodes %}
                                    <option value="{{ node.id }}">{{node.id}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-2 pb-2">
                            <button type="button" class="btn btn-primary btn-block" onclick="neighbourhoodHighlight({nodes: []});">Reset Selection</button>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if filter_menu %}
              <div id="filter-menu" class="card-header">
                <div class="row no-gutters">
                  <div class="col-3 pb-2">
                    <select
                            class="form-select"
                            aria-label="Default select example"
                            onchange="updateFilter(value, 'item')"
                            id="select-item"
                        >
                        <option value="">Select a network item</option>
                        <option value="edge">edge</option>
                        <option value="node">node</option>
                    </select>
                  </div>
                  <div class="col-3 pb-2">
                    <select
                            class="form-select"
                            aria-label="Default select example"
                            onchange="updateFilter(value, 'property')"
                            id="select-property"
                        >
                        <option value="">Select a property...</option>
                    </select>
                  </div>
                  <div class="col-3 pb-2">
                    <select
                            class="form-select"
                            aria-label="Default select example"
                            id="select-value"
                        >
                        <option value="">Select value(s)...</option>
                    </select>
                  </div>
                  <div class="col-1 pb-2">
                    <button type="button" class="btn btn-primary btn-block" onclick="highlightFilter(filter);">Filter</button>
                  </div>
                  <div class="col-2 pb-2">
                    <button type="button" class="btn btn-primary btn-block" onclick="clearFilter(true)">Reset Selection</button>
                  </div>
                </div>
              </div>
            {% endif %}
            <div id="mynetwork" class="card-body"></div>

            <!-- card footer for event log viewer -->
            <div id="event-logs" class="card-footer bg-transparent border-success">
                <div class="container-fluid">
                    <ul class="nav nav-pills" role="tablist" id="eventTab">
                        <!-- tabs auto-generates using JS -->
                    </ul>
                    <div class="row-fluid">
                        <div class="tab-content span4">
                            <!-- auto-populates using JS -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if nodes|length > 100 and physics_enabled %}
            <div id="loadingBar">
              <div class="outerBorder">
                <div id="text">0%</div>
                <div id="border">
                  <div id="bar"></div>
                </div>
              </div>
            </div>
        {% endif %}
        {% if conf %}
            <div id="config"></div>
        {% endif %}

        <script type="text/javascript">

              // initialize global variables.
              var edges;
              var nodes;
              var allNodes;
              var allEdges;
              var nodeColors;
              var originalNodes;
              var network;
              var container;
              var options, data;
              var filter = {
                  item : '',
                  property : '',
                  value : []
              };

              {% if select_menu %}
                  new TomSelect("#select-node",{
                      create: false,
                      sortField: {
                          field: "text",
                          direction: "asc"
                      }
                  });
              {%  endif %}

              {% if enable_javascript %}
                function htmlTitle(html) {
                    const container = document.createElement("div");
                    container.innerHTML = html;
                    return container;
                };
              {% endif %}

              // on click event on the tab, this method will be called
              $("#eventTab").on("click", "a", function (e) {
                    e.preventDefault();

                    $(this).tab('show');
                    $currentTab = $(this);
                });

                //this method will register event on close icon on the tab..
                function registerCloseEvent(tabId) {

                    $(".closeTab").click(function () {

                        //there are multiple elements which has .closeTab icon so close the tab whose close icon is clicked
                        var tabContentId = $(this).parent().parent();
                        $('#eventTab a:last').tab('show'); // Select first tab
                        $(tabContentId).remove(); //remove respective tab content

                        // remove div with tabId
                        $(`#${tabId}`).remove();
                    });
                }

              function toggleDropdown(event) {
                    
                    var btn = event.srcElement;
                    var dropdown = btn.nextElementSibling;
                    var infoDiv = btn.parentElement.parentElement;
                    
                    let rest = infoDiv.querySelectorAll(`div.dropdown:not(#${dropdown.id})`);
                    for (let each of rest) {
                        if (each.style.display === "block") {
                            each.style.display = "none";
                            // in place change [-] to [+]
                            type = each.previousElementSibling.innerHTML.split(" ")[1];
                            each.previousElementSibling.innerHTML = `[+] ${type}`;
                        }
                    }

                    var type = btn.innerHTML.split(" ")[1];

                    if (dropdown.style.display === "none") {
                        dropdown.style.display = "block";
                        btn.innerHTML = "[-] " + type;
                    } else {
                        dropdown.style.display = "none";
                        btn.innerHTML = "[+] " + type;
                    }
                }

                // function to copy the text to clipboard
                const copyToClipboard = async () => {
                    try {
                        // using the event to grab the pre tag
                        const element = event.currentTarget.previousElementSibling;
                        const button = event.currentTarget;
                        var btnId = button.id;
                        //const element = document.querySelector(".user-select-all");
                        await navigator.clipboard.writeText(element.textContent);
                        console.log("Text copied to clipboard!");
                        
                        // use jquery to show the tooltip with a message
                        $('#'+btnId).tooltip('hide')
                        .attr('title', "Copied!")
                        .tooltip('show');
                        setTimeout(() => {
                            $('#'+btnId).tooltip('hide');
                        }, 1000);
                        
                    } catch (error) {
                        console.error("Failed to copy to clipboard:", error);
                    }
                };

                /*
                    get_event function is responsible for fetching the event data from the server
                    and displaying it in the event log viewer, which is a tabbed view.
                    reordering of the keys is done to display certain keys first.
                    json-editor is used to display the event data in a structured format.
                */
                function get_event(file, line) {
                    fetch("http://localhost:8000/get_event", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({"filepath": file, "line": line}),
                        mode: "cors",
                        cache: "no-cache",
                        credentials: "same-origin",
                        with_credentials: true,
                    }).then(function (response) {
                        return response.json();
                    }).then(function (data) {
                        // reorder certain keys to be displayed first
                        let keys = ["ts", "pid", "puid", "name", "path", "cmd_line", "local_ipv4", "local_port", "remote_ipv4", "remote_port", "proto"];
                        let event_name = Object.keys(data["event"])[0];
                        let reordered = {};

                        for (let each of keys) {
                            if (data["event"][event_name].hasOwnProperty(each)) {
                                // check if key is remote_ipv4 or local_ipv4
                                if (each === "remote_ipv4" || each === "local_ipv4") {
                                    reordered[each] = int2ip(data["event"][event_name][each]);
                                } else {
                                reordered[each] = data["event"][event_name][each];
                                }
                            }
                        }

                        for (let each in data["event"][event_name]) {
                            if (!reordered.hasOwnProperty(each)) {
                                reordered[each] = data["event"][event_name][each];
                            }
                        }

                        function int2ip (ipInt) {
                            return ( (ipInt>>>24) +'.' + (ipInt>>16 & 255) +'.' + (ipInt>>8 & 255) +'.' + (ipInt & 255) );
                        }

                        let outIcon = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
                        </svg>`
                        
                        let inIcon = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-down-left-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm10.096 3.146a.5.5 0 1 1 .707.708L6.707 9.95h2.768a.5.5 0 1 1 0 1H5.5a.5.5 0 0 1-.5-.5V6.475a.5.5 0 1 1 1 0v2.768z"/>
                        </svg>`

                        let libIcon = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" class="bi bi-book half" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm2 0a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/> </svg>`

                        let fileIcon = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
                        <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/></svg>`

                        // check if event_name has "netflow" string
                        if (event_name.includes("netflow")) {
                            // split the event_name by ":" and get the last element
                            let dir = event_name.split(":").pop();
                            ipv4 = int2ip(data['event'][event_name]['remote_ipv4'])
                            if (dir === "out") {
                                // convert ipv4 integer to string
                                var event = outIcon + " " + ipv4;
                            } else {
                                var event = inIcon + " " + ipv4;
                            }
                        } else {
                            var event = fileIcon + " " + data['event'][event_name]['name'];
                        }
     
                       // tabId using line number
                        let tabId = `event-${line}`;

                        document.getElementById("eventTab").innerHTML += `
                        <li class="nav-item">
                            <a href="#${tabId}" class="nav-link">
                                <button class="btn-close btn-sm closeTab" type="button" onclick=registerCloseEvent("${tabId}")></button>
                                ${event}
                        </li>`

                        document.querySelector(".tab-content").innerHTML += `
                        <div class="tab-pane active" id="${tabId}">
                            <pre id="json-display-${tabId}" class="json-editor-blackboard user-select-all" contenteditable="false" aria-hidden="true" spellcheck="false"></pre>
                            <button id="cp-btn-${tabId}" class="copyBtn btn" data-toggle="tooltip" onclick="copyToClipboard(event)">&#128203;</button>
                        </div>`

                        // from json dump event data
                        var editor = new JsonEditor(document.getElementById(`json-display-${tabId}`), reordered);
                        /*

                        // from json dump event data
                        var text = JSON.stringify(data["event"], null, 4);

                        let result_element = document.querySelector("#highlighting-content");
                        // Handle final newlines (see article)
                        if(text[text.length-1] == "\n") {
                            text += " ";
                        }
                        // Update code
                        result_element.innerHTML = text.replace(new RegExp("&", "g"), "&amp;").replace(new RegExp("<", "g"), "&lt;");
                        // Syntax Highlight
                        Prism.highlightElement(result_element);
                        */
                    });
                    
                }

              {% if filter_menu %}
                  // explicitly using onItemAdd and this function as we need to save multiple values
                  let updateValueFilter = function() {
                      return function () {
                      filter['value'].push(arguments[0])
                      }
                  }

                  let valueControl = new TomSelect("#select-value",{
                      maxItems: null,
                      valueField: 'id',
                      labelField: 'title',
                      searchField: 'title',
                      create: false,
                      sortField: {
                          field: "text",
                          direction: "asc"
                      },
                      onItemAdd: updateValueFilter()
                  });

                  let addValues = function() {
                      return function () {
                          // clear the current value options and add the selected attribute values
                          // tom-select handles duplicates
                          let selectedProperty = arguments[0];
                          valueControl.clear();
                          valueControl.clearOptions();
                          filter['value'] = []
                          if (filter['item'] === 'node') {
                              for (let each in allNodes) {
                                  valueControl.addOption({
                                      id:allNodes[each][selectedProperty],
                                      title:allNodes[each][selectedProperty]
                                  })
                              }
                          }
                          else if (filter['item'] === 'edge') {
                              for (let each in allEdges) {
                                  valueControl.addOption({
                                      id:allEdges[each][selectedProperty],
                                      title:allEdges[each][selectedProperty]
                                  })
                              }
                          }
                      }
                  };

                  let propControl = new TomSelect("#select-property",{
                      valueField: 'id',
                      labelField: 'title',
                      searchField: 'title',
                      create: false,
                      sortField: {
                          field: "text",
                          direction: "asc"
                      },
                      onItemAdd: addValues()
                  });

                  let addProperties = function() {
                      return function () {
                          // loops through the selected network item and adds the attributes to dropdown
                          // tom-select handles duplicates
                          clearFilter(false)
                          if (arguments[0] === 'edge') {
                              for (let each in allEdges) {
                                  if (allEdges.hasOwnProperty(each)) {
                                      for (let eachProp in allEdges[each]) {
                                          if (allEdges[each].hasOwnProperty(eachProp)) {
                                              propControl.addOption({id: eachProp, title: eachProp})
                                          }
                                      }
                                  }
                              }
                          }
                          else if (arguments[0] === 'node') {
                              for (let each in allNodes) {
                                  if (allNodes.hasOwnProperty(each)) {
                                      for (let eachProp in allNodes[each]) {
                                          if (allNodes[each].hasOwnProperty(eachProp)
                                              && (eachProp !== 'hidden' && eachProp !== 'savedLabel'
                                                  && eachProp !== 'hiddenLabel')) {
                                              propControl.addOption({id: eachProp, title: eachProp})

                                          }
                                      }
                                  }
                              }
                          }
                      }
                  };

                  let itemControl = new TomSelect("#select-item",{
                      create: false,
                      sortField:{
                          field: "text",
                          direction: "asc"
                      },
                      onItemAdd: addProperties()
                  });

                  function clearFilter(reset) {
                      // utility function to clear all the selected filter options
                      // if reset is set to true, the existing filter will be removed
                      // else, only the dropdown options are cleared
                      propControl.clear();
                      propControl.clearOptions();
                      valueControl.clear();
                      valueControl.clearOptions();
                      filter = {
                          item : '',
                          property : '',
                          value : []
                      }
                      if (reset) {
                          itemControl.clear();
                          filterHighlight({nodes: []})
                      }
                  }

                  function updateFilter(value, key) {
                      // key could be 'item' or 'property' and value is as selected in dropdown
                      filter[key] = value
                  }

              {%  endif %}

              // This method is responsible for drawing the graph, returns the drawn network
              function drawGraph() {
                  var container = document.getElementById('mynetwork');

                  {% if use_DOT %}

                  var DOTstring = "{{dot_lang|safe}}";
                  var parsedData = vis.network.convertDot(DOTstring);

                  data = {
                    nodes: parsedData.nodes,
                    edges: parsedData.edges
                  }

                  var options = parsedData.options;
                  options.nodes = {
                      shape: "dot"
                  }

                  {% else %}

                  // parsing and collecting nodes and edges from the python
                  nodes = new vis.DataSet({{nodes|tojson}});
                  edges = new vis.DataSet({{edges|tojson}});

                  nodeColors = {};
                  allNodes = nodes.get({ returnType: "Object" });
                  for (nodeId in allNodes) {
                    nodeColors[nodeId] = allNodes[nodeId].color;

                  {% if enable_javascript %}
                    if ("title" in allNodes[nodeId]) {
                        allNodes[nodeId].title =htmlTitle(allNodes[nodeId].title);
                    } else {
                        console.log("Object does not have title key");
                    }
                  {% endif %}

                  }
                  allEdges = edges.get({ returnType: "Object" });

                  {% if enable_javascript %}
                    // if the user wants to enable javascript
                for (edgeId in allEdges) {
                      if ("title" in allEdges[edgeId]) {
                        allEdges[edgeId].title =htmlTitle(allEdges[edgeId].title);
                      } else {
                      console.log("Object does not have title key");
                      }
                }                             
                  {% endif %}
                  // adding nodes and edges to the graph
                  data = {nodes: nodes, edges: edges};

                  var options = {{options|safe}};

                  {% endif %}


                  {% if conf %}
                  // if this network requires displaying the configure window,
                  // put it in its div
                  options.configure["container"] = document.getElementById("config");
                  {% endif %}

                  network = new vis.Network(container, data, options);

                  {% if neighborhood_highlight %}
                    network.on("click", neighbourhoodHighlight);
                  {% endif %}

                  {% if select_menu %}
                    network.on("selectNode", neighbourhoodHighlight);
                  {% endif %}

                  {% if tooltip_link %}
                  // make a custom popup
                      var popup = document.createElement("div");
                      popup.className = 'popup';
                      popupTimeout = null;
                      popup.addEventListener('mouseover', function () {
                          console.log(popup)
                          if (popupTimeout !== null) {
                              clearTimeout(popupTimeout);
                              popupTimeout = null;
                          }
                      });
                      popup.addEventListener('mouseout', function () {
                          if (popupTimeout === null) {
                              hidePopup();
                          }
                      });
                      container.appendChild(popup);


                      // use the popup event to show
                      network.on("showPopup", function (params) {
                          showPopup(params);
                      });

                      // use the hide event to hide it
                      network.on("hidePopup", function (params) {
                          hidePopup();
                      });

                      // hiding the popup through css
                      function hidePopup() {
                          popupTimeout = setTimeout(function () { popup.style.display = 'none'; }, 500);
                      }

                      // showing the popup
                      function showPopup(nodeId) {
                          // get the data from the vis.DataSet
                          var nodeData = nodes.get([nodeId]);
                          popup.innerHTML = nodeData[0].title;

                          // get the position of the node
                          var posCanvas = network.getPositions([nodeId])[nodeId];

                          // get the bounding box of the node
                          var boundingBox = network.getBoundingBox(nodeId);

                          //position tooltip:
                          posCanvas.x = posCanvas.x + 0.5 * (boundingBox.right - boundingBox.left);

                          // convert coordinates to the DOM space
                          var posDOM = network.canvasToDOM(posCanvas);

                          // Give it an offset
                          posDOM.x += 10;
                          posDOM.y -= 20;

                          // show and place the tooltip.
                          popup.style.display = 'block';
                          popup.style.top = posDOM.y + 'px';
                          popup.style.left = posDOM.x + 'px';
                      }
                  {% endif %}


                  {% if nodes|length > 100 and physics_enabled %}
                      network.on("stabilizationProgress", function(params) {
                          document.getElementById('loadingBar').removeAttribute("style");
                          var maxWidth = 496;
                          var minWidth = 20;
                          var widthFactor = params.iterations/params.total;
                          var width = Math.max(minWidth,maxWidth * widthFactor);
                          document.getElementById('bar').style.width = width + 'px';
                          document.getElementById('text').innerHTML = Math.round(widthFactor*100) + '%';
                      });
                      network.once("stabilizationIterationsDone", function() {
                          document.getElementById('text').innerHTML = '100%';
                          document.getElementById('bar').style.width = '496px';
                          document.getElementById('loadingBar').style.opacity = 0;
                          // really clean the dom element
                          setTimeout(function () {document.getElementById('loadingBar').style.display = 'none';}, 500);
                      });
                  {% endif %}

                return network;

              }
              drawGraph();
        </script>
    </body>
</html>
